body{
	background-color:#AFCBE0;
}

#sitebody{
	font-size:13px;
}
#head{
	font-size:20px;
	font-family:Microsoft JhengHei;
	height:300px;
	text-align:center;
	line-height:10px;
	width: 100vw;
}

#content{
	background-color:#AFCBE0;
	font-family:Microsoft JhengHei;
	text-align: center;
	width:100vw;
	padding:15px 0px;
}
h1{
	text-align:center;
	color:#464747;
}
h3{
	line-height:3px;
}
h4{
	text-align:center;
	color:#FEFBFB;
}
#about{	
	background-color:#DD7779;
    border-style: solid 2px;
    display: block;
	width: 300px;
	height: 40px;
	line-height: 35px;
	text-align: center;	
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	border-style:solid;
	margin-left: 20px;
	position:relative; left:460px; top: 0px; 
	font-family:Microsoft JhengHei;
}
#Character{
	background-color:#FFC457;
    border-style: solid 2px;
    display: block;
	width: 300px;
	height: 40px;
	line-height: 35px;
	text-align: center;	
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	border-style:solid;
	margin-left: 20px;
	position:relative; left:460px; top: 0px; 
	font-family:Microsoft JhengHei;
}
#writer{
	background-color:#7CCDEA;
    border-style: solid 2px;
    display: block;
	width: 300px;
	height: 40px;
	line-height: 35px;
	text-align: center;	
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	border-style:solid;
	margin-left: 20px;
	position:relative; left:460px; top: 0px; 
	font-family:Microsoft JhengHei;
}
#movie{
	background-color:#AACA70;
    border-style: solid 2px;
    display: block;
	width: 300px;
	height: 40px;
	line-height: 35px;
	text-align: center;	
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	border-style:solid;
	margin-left: 20px;
	position:relative; left:460px; top: 0px; 
	font-family:Microsoft JhengHei;
}

#m11{
	display:none;
}
#m22{
	display:none;
}
#m33{
	display:none;
}
#m44{
	display:none;
}


#div1{
	display: none;
	
}
#div2{
	display: none
	
}
#div3{
	display: none

}

#div4{
	display: none

}
#div5{
	display: none

}
